<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Test Suite">
    <test name="All Tests">
        <packages>
            <package name="yanaItani.sauseDemo.tests"/>
        </packages>
    </test>
    <listeners>
            <listener class-name="org.testng.reporters.TestHTMLReporter"/>
    </listeners>
<parameter name="login" value="standard_user"/>
<parameter name="password" value="secret_sauce"/>
</suite>